<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8">
        <title>RentEasy</title>
        <meta name="viewport" content="device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/header.css">
        <script src="js/header.js"></script>
    </head>
    <body>
  <header>
    <div id="headerLogo">
      <a href="#">
        <img src="/images/logo.jpg" alt="Logo">
      </a>
    </div>
    <nav>
      <div class="links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#0">FAQs</a>
        <div class="dropdown">
          <a href="#0" class="dropdown">Resident Portal</a>
          <div class="dropdownContent">
            <a href="#">Sign In</a>
            <a href="#0">Register</a>
          </div>
        </div>
    </nav>
  </header>
  </body>